In [1]:
## Import the required libraries and read the data into memory
## Rename the column names from spaces to underscores

import duckdb
import pandas as pd
from plotnine import (
    ggplot,
    aes,
    geom_bar,
    theme,
    element_text
)

df = pd.read_csv('./data/Trade_DetailedTradeMatrix.csv', encoding='latin-1')

colnames = []
for i in df.columns:
    i = i.replace(" ", "_")
    colnames.append(i)

df.columns = colnames

In [36]:
## This function calculates the trade dependency of a country by year by total import value.
## It fetches the top 20 countries by import value that the selected country imports from.
## For example, if you use trade_dependency('United Arab Emirates', 2021)
## You will get the top 20 countries by import value (USD $) that the U.A.E imports from
## In the year 2021. 

def trade_dependency(country, year):
        
    dataframe = duckdb.sql('''
    select Partner_Countries,
    sum(Value) as import_value,
    import_value /
        (select
            sum(Value)
            from df
            where Year = {year}
            and Element = 'Import Value'
            and Reporter_Countries = '{country}'
        ) as imp_prop
    from df
    where Year = {year}
    and Element = 'Import Value'
    and Reporter_Countries = '{country}'
    group by Partner_Countries
    having imp_prop > 0
    order by imp_prop desc;
    '''.format(year = year, country = country)).fetchdf().head(21)

    return dataframe

trade_dependency('United Arab Emirates', 2019)

                                    Partner_Countries  import_value  imp_prop
0                                               India     1908241.0  0.107462
1                                              Brazil     1621177.0  0.091296
2                            United States of America     1482410.0  0.083482
3                                        Saudi Arabia      850430.0  0.047892
4                                           Australia      608745.0  0.034281
5                                              Canada      530866.0  0.029896
6                                              France      523323.0  0.029471
7                                     China, mainland      522875.0  0.029446
8                                         Netherlands      512081.0  0.028838
9                                         New Zealand      500850.0  0.028205
10  United Kingdom of Great Britain and Northern I...      495163.0  0.027885
11                                           Pakistan      459667.0  0.025886
12                                 Russian Federation      428522.0  0.024132
13                                              Italy      380623.0  0.021435
14                                            Türkiye      372953.0  0.021003
15                                              Spain      343761.0  0.019359
16                                              Egypt      336457.0  0.018948
17                                               Iraq      314502.0  0.017711
18                                          Indonesia      281834.0  0.015871
19                                            Germany      281817.0  0.015870
20                                       South Africa      278501.0  0.015684

In [42]:
## This function finds the trade dependants by value (USD $ of a country).
## For example, using trade_dependants('United Arab Emirates', 2021)
## Finds the top 20 countries that depend on the U.A.E
## The dependency for country A on country B is quantified by taking
## The proportion of imports from country B to country A over the total
## Imports to country A:
##
## dep_ratio = (Import value from B to A) / (Total import value to country A)


def trade_dependants(country, year):

    top_imports = duckdb.sql('''
    select Reporter_Countries,
        sum(Value) as imports
        from df
        where Year = {year}
        and Element = 'Import Value'
        and Partner_Countries = '{country}'
        group by Reporter_Countries
        having imports > 0
        order by imports desc;
        '''.format(year = year, country = country)).fetchdf().head(21)

    total_imports = duckdb.sql('''
    select Reporter_Countries,
        sum(Value) as import_value
        from df
        where Year = {year}
        and Element = 'Import Value'
        group by Reporter_Countries
        having import_value > 0
        order by import_value desc;
        '''.format(year = year)).fetchdf()

    dependants = duckdb.sql(
        '''
        drop table if exists imps;
        drop table if exists dependants;

        create table imps as
            select * from top_imports
            left join total_imports
            on top_imports.Reporter_Countries = total_imports.Reporter_Countries
            order by import_value desc;

            select Reporter_Countries, imports,
                imports / import_value as dep_ratio


                from imps
                order by dep_ratio desc;
        ''').fetchdf()
    
    return dependants

trade_dependants('United Arab Emirates', 2021)

            Reporter_Countries    imports  dep_ratio
0                         Oman  1864287.0   0.350573
1                     Maldives   118694.0   0.203470
2                  Afghanistan   420899.0   0.186384
3                      Bahrain   307722.0   0.175980
4         Syrian Arab Republic   407854.0   0.173320
5                       Kuwait   791253.0   0.155162
6                        Libya   640570.0   0.144555
7   Iran (Islamic Republic of)   998222.0   0.107553
8                        Yemen   534845.0   0.101324
9                        Benin   158826.0   0.091926
10                    Djibouti   163417.0   0.076976
11                Saudi Arabia  1128684.0   0.047638
12                      Jordan   153912.0   0.033550
13                    Pakistan   227041.0   0.019909
14                       India   469513.0   0.015162
15                     Morocco   108337.0   0.014272
16                  Bangladesh   100334.0   0.005768
17                    Viet Nam   183927.0   0.005476
18                    Malaysia    93641.0   0.004176
19             China, mainland   643033.0   0.003105
20    United States of America   100154.0   0.000573