In [2]:
import pandas as pd

df = pd.read_csv("./data/Trade_DetailedTradeMatrix.csv", encoding='latin-1')

This is the part where we analyze the data.

In [49]:
import duckdb

def dependency(country, year, item):
    query = '''
    select Partner_Countries,
        round(sum(Value) /
        (
            select
                sum(Value)
            from df
            where Year = {year}
            and Reporter_Countries = '{country}'
            and Item = '{item}'
            and Element = 'Import Quantity'
        ), 2) as dep_ratio
    from df
    where Year = {year}
    and Reporter_Countries = '{country}'
    and Element = 'Import Quantity'
    and Item = '{item}'
    and Value > 0
    group by Partner_Countries
    order by dep_ratio desc; 
'''.format(item = item, country = country, year = year)
    
    return duckdb.sql(query).fetchdf()

dependency('United Arab Emirates', 2019, 'Rice')

                                    Partner_Countries  dep_ratio
0                                            Pakistan       0.57
1                                               India       0.36
2                            United States of America       0.03
3                                         Philippines       0.01
4                                           Sri Lanka       0.01
5                                            Thailand       0.01
6                                               Italy       0.00
7                                             Belgium       0.00
8   United Kingdom of Great Britain and Northern I...       0.00
9                                              Canada       0.00
10                                    China, mainland       0.00
11                                              Japan       0.00
12                   Bolivia (Plurinational State of)       0.00
13                                             France       0.00

In [45]:
duckdb.query('''
drop table if exists exp;
drop table if exists imp;

create table exp as
select Partner_Countries,
            sum(Value) as trade
        from df
        where Year = 2019
        and Reporter_Countries = 'India'
        and Element = 'Export Quantity'
        and Item = 'Rice'
        and Value > 0
        group by Partner_Countries
        order by trade desc;

create table imp as
select Reporter_Countries,
            sum(Value) as import_quantity
        from df
        where Year = 2019
        and Element = 'Import Quantity'
        and Item = 'Rice'
        and Value > 0
        group by Reporter_Countries
        order by import_quantity desc;

select Reporter_Countries, trade, import_quantity, round(trade / import_quantity, 3) as dep
from exp
left join imp
on imp.Reporter_Countries = exp.Partner_Countries
where (dep between 0 and 1)
order by dep desc;
''').fetchdf()

,Reporter_Countries,trade,import_quantity,dep
0,Bhutan,76.00,76.00,1.000
1,Nepal,234406.94,265486.18,0.883
2,Bangladesh,4430.02,5101.79,0.868
3,Qatar,41.50,51.15,0.811
4,Bahrain,110.07,143.98,0.764
5,Australia,96.32,166.24,0.579
6,Egypt,0.28,0.53,0.528
7,United States of America,54.46,177.02,0.308
8,Philippines,7201.54,27643.60,0.261
9,United Arab Emirates,184.54,1010.61,0.183
10,Seychelles,1.71,13.23,0.129
11,Mali,17.00,140.12,0.121
12,Gambia,0.50,5.34,0.094
13,Mauritius,4.30,46.42,0.093
14,Ghana,2.88,45.77,0.063
15,Kenya,43.01,907.61,0.047
16,Canada,19.23,412.22,0.047
17,Indonesia,5.07,121.90,0.042
18,Viet Nam,395.31,16379.25,0.024
19,Oman,23.98,1102.57,0.022
20,United Republic of Tanzania,0.18,8.01,0.022
21,Kuwait,6.35,556.91,0.011
22,Sierra Leone,2.10,245.58,0.009
23,Pakistan,87.73,10475.00,0.008
24,United Kingdom of Great Britain and Northern I...,44.01,6894.01,0.006
25,Senegal,4.00,1037.24,0.004
26,Trinidad and Tobago,0.08,29.75,0.003
27,Saudi Arabia,26.00,11774.76,0.002
28,New Zealand,0.30,163.41,0.002
29,Colombia,1.80,128753.16,0.000
30,Türkiye,0.10,101204.82,0.000
31,Brazil,4.00,91431.46,0.000
32,Italy,0.52,49476.47,0.000
33,France,0.06,9307.62,0.000
34,Germany,1.01,7017.31,0.000
35,Netherlands,1.43,4638.55,0.000
36,Ireland,0.01,2858.32,0.000
37,Ethiopia,0.05,288.45,0.000
38,Brunei Darussalam,0.03,107.65,0.000