In [2]:
import pandas as pd

df = pd.read_csv("./data/Trade_DetailedTradeMatrix.csv", encoding='latin-1')

This is the part where we analyze the data.

In [67]:
import duckdb

## This function calculates the dependency of a country on another country for a certain good
## For example: using dependency('United Arab Emirates', 2019, 'Rice') will give you the top
#

def dependency(country, year, item):
    query = '''
    select Partner_Countries,
        sum(Value) /
        (
            select
                sum(Value)
            from df
            where Year = {year}
            and Reporter_Countries = '{country}'
            and Item = '{item}'
            and Element = 'Import Quantity'
        ) as dep_ratio
    from df
    where Year = {year}
    and Reporter_Countries = '{country}'
    and Element = 'Import Quantity'
    and Item = '{item}'
    and Value > 0
    group by Partner_Countries
    order by dep_ratio desc; 
'''.format(item = item, country = country, year = year)
    
    return duckdb.sql(query).fetchdf()

dependency('United Arab Emirates', 2019, 'Rice')

                                    Partner_Countries  dep_ratio
0                                            Pakistan   0.573980
1                                               India   0.364404
2                            United States of America   0.026558
3                                            Thailand   0.011904
4                                         Philippines   0.007916
5                                           Sri Lanka   0.007144
6                                               Italy   0.003958
7   United Kingdom of Great Britain and Northern I...   0.002533
8                                             Belgium   0.000821
9                                     China, mainland   0.000317
10                                              Japan   0.000208
11                                             Canada   0.000148
12                                             France   0.000089
13                   Bolivia (Plurinational State of)   0.000020

In [82]:
def product_leverage(country, year, item):
    query = '''
        drop table if exists exp;
        drop table if exists imp;

        create table exp as
        select Reporter_Countries as reporting,
                    sum(Value) as trade
                from df
                where Year = {year}
                and Partner_Countries = '{country}'
                and Element = 'Import Quantity'
                and Item = '{item}'
                and Value > 0
                group by Reporter_Countries
                order by trade desc;

        create table imp as
        select Reporter_Countries,
                    sum(Value) as import_quantity
                from df
                where Year = {year}
                and Element = 'Import Quantity'
                and Item = '{item}'
                and Value > 0
                group by Reporter_Countries
                order by import_quantity desc;

        select Reporter_Countries, trade, import_quantity, trade / import_quantity as dep
        from exp
        left join imp
        on imp.Reporter_Countries = exp.reporting
        where dep between 0 and 1
        order by dep desc;
        '''.format(year = year, country = country, item = item)
    out = duckdb.query(query)

    return out.fetchdf()

product_leverage('India', 2019, 'Rice')

┌──────────────────────────────────────────────────────┬──────────┬────────────────────┬────────────────────────┐
│                  Reporter_Countries                  │  trade   │  import_quantity   │          dep           │
│                       varchar                        │  double  │       double       │         double         │
├──────────────────────────────────────────────────────┼──────────┼────────────────────┼────────────────────────┤
│ Bhutan                                               │     76.0 │               76.0 │                    1.0 │
│ Qatar                                                │    51.15 │              51.15 │                    1.0 │
│ Nepal                                                │ 265475.0 │ 265486.18000000005 │     0.9999578885801135 │
│ Bosnia and Herzegovina                               │     23.0 │              23.95 │     0.9603340292275574 │
│ Azerbaijan                                           │  3315.69 │ 3459.8500000000004 │     0.9583334537624463 │
│ Seychelles                                           │    12.55 │ 13.230000000000002 │      0.948601662887377 │
│ Saudi Arabia                                         │ 10483.66 │           11774.76 │     0.8903502067133428 │
│ Bangladesh                                           │  4430.02 │  5101.790000000001 │      0.868326606935997 │
│ Mongolia                                             │     10.0 │              12.49 │      0.800640512409928 │
│ Kuwait                                               │   433.19 │  556.9100000000001 │      0.777845612396976 │
│   ·                                                  │       ·  │          ·         │              ·         │
│   ·                                                  │       ·  │          ·         │              ·         │
│   ·                                                  │       ·  │          ·         │              ·         │
│ Ghana                                                │     0.05 │ 45.769999999999996 │  0.0010924186148131966 │
│ Trinidad and Tobago                                  │     0.03 │              29.75 │  0.0010084033613445378 │
│ Namibia                                              │     1.23 │ 2388.2700000000004 │  0.0005150171463025536 │
│ Germany                                              │     1.19 │ 7017.3099999999995 │ 0.00016958065127520376 │
│ United Kingdom of Great Britain and Northern Ireland │     0.99 │  6894.009999999999 │  0.0001436029248579564 │
│ Sweden                                               │     0.03 │             381.65 │  7.860605266605529e-05 │
│ Ireland                                              │      0.2 │            2858.32 │   6.99711718771866e-05 │
│ France                                               │     0.23 │  9307.619999999999 │ 2.4710935770905993e-05 │
│ Türkiye                                              │     1.61 │ 101204.81999999999 │ 1.5908333219702384e-05 │
│ Colombia                                             │      1.8 │          128753.16 │ 1.3980239397619445e-05 │
├──────────────────────────────────────────────────────┴──────────┴────────────────────┴────────────────────────┤
│ 53 rows (20 shown)                                                                                  4 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘