In [1]:
## Import the required libraries and read the data into memory
## Rename the column names from spaces to underscores

import pandas as pd

df = pd.read_csv('./data/Trade_DetailedTradeMatrix.csv', encoding='latin-1')

colnames = []
for i in df.columns:
    i = i.replace(" ", "_")
    colnames.append(i)

df.columns = colnames

df.columns

df['Reporter_Country_Code_(M49)'] = df['Reporter_Country_Code_(M49)'].str.replace("'", "")
codes = pd.read_csv("./data/country_codes.csv")
codes = codes[["Country or Area", "ISO-alpha3 Code"]]
codes

               Country or Area ISO-alpha3 Code
0                      Algeria             DZA
1                        Egypt             EGY
2                        Libya             LBY
3                      Morocco             MAR
4                        Sudan             SDN
..                         ...             ...
244                      Samoa             WSM
245                    Tokelau             TKL
246                      Tonga             TON
247                     Tuvalu             TUV
248  Wallis and Futuna Islands             WLF

[249 rows x 2 columns]

In [2]:
import duckdb

## This function calculates the dependency of a country on another country for a certain good
## For example: using dependency('United Arab Emirates', 2019, 'Rice') will give you the top
## countries that the United Arab Emirates depends on for rice in the year 2019.

def product_dependency(country, year, item):
    query = '''
    select Partner_Countries,
        sum(Value) /
        (
            select
                sum(Value)
            from df
            where Year = {year}
            and Reporter_Countries = '{country}'
            and Item = '{item}'
            and Element = 'Import Quantity'
        ) as dep_ratio
    from df
    where Year = {year}
    and Reporter_Countries = '{country}'
    and Element = 'Import Quantity'
    and Item = '{item}'
    and Value > 0
    group by Partner_Countries
    order by dep_ratio desc; 
'''.format(item = item, country = country, year = year)
    
    return duckdb.sql(query).fetchdf()

product_dependency('United Arab Emirates', 2019, 'Rice')

                                    Partner_Countries  dep_ratio
0                                            Pakistan   0.573980
1                                               India   0.364404
2                            United States of America   0.026558
3                                            Thailand   0.011904
4                                         Philippines   0.007916
5                                           Sri Lanka   0.007144
6                                               Italy   0.003958
7   United Kingdom of Great Britain and Northern I...   0.002533
8                                             Belgium   0.000821
9                                     China, mainland   0.000317
10                                              Japan   0.000208
11                                             Canada   0.000148
12                                             France   0.000089
13                   Bolivia (Plurinational State of)   0.000020

In [3]:
## This function calculates the trade dependency of a country by year by total import value.
## It fetches the top 20 countries by import value that the selected country imports from.
## For example, if you use trade_dependency('United Arab Emirates', 2021)
## You will get the top 20 countries by import value (USD $) that the U.A.E imports from
## In the year 2021. 

def trade_dependency(country, year):
    
    dataframe = duckdb.sql('''
    select Partner_Countries,
    sum(Value) as import_value,
    import_value /
        (select
            sum(Value)
            from df
            where Year = {year}
            and Element = 'Import Value'
            and Reporter_Countries = '{country}'
        ) as imp_prop
    from df
    where Year = {year}
    and Element = 'Import Value'
    and Reporter_Countries = '{country}'
    group by Partner_Countries
    having imp_prop > 0
    order by imp_prop desc;
    '''.format(year = year, country = country)).fetchdf().head(21)

    return dataframe

trade_dependency('Oman', 2018)

             Partner_Countries  import_value  imp_prop
0         United Arab Emirates     1824275.0  0.453535
1                        India      397051.0  0.098711
2                 Saudi Arabia      240000.0  0.059667
3                     Pakistan      183415.0  0.045599
4                      Somalia      141632.0  0.035211
5           Russian Federation       97926.0  0.024345
6                    Indonesia       86039.0  0.021390
7   Iran (Islamic Republic of)       76016.0  0.018898
8                       Brazil       68755.0  0.017093
9                    Argentina       62299.0  0.015488
10    United States of America       58326.0  0.014500
11                     Belgium       53724.0  0.013356
12                     Denmark       51845.0  0.012889
13                 Netherlands       51084.0  0.012700
14                   Australia       43409.0  0.010792
15                    Malaysia       39693.0  0.009868
16                       Egypt       38764.0  0.009637
17                      France       34291.0  0.008525
18                     Ukraine       34215.0  0.008506
19                     Bahrain       31448.0  0.007818
20             China, mainland       27612.0  0.006865

In [4]:
## This function calculates how much leverage a country has over another country in terms of a specific product
## For example: using product_leverage('India', 2019, 'Rice')
## Will give you how much leverage India has over other countries in rice exports


def product_leverage(country, year, item):
    query = '''
        drop table if exists exp;
        drop table if exists imp;

        create table exp as
        select Reporter_Countries as reporting,
                    sum(Value) as trade
                from df
                where Year = {year}
                and Partner_Countries = '{country}'
                and Element = 'Import Quantity'
                and Item = '{item}'
                and Value > 0
                group by Reporter_Countries
                order by trade desc;

        create table imp as
        select Reporter_Countries,
                    sum(Value) as import_quantity
                from df
                where Year = {year}
                and Element = 'Import Quantity'
                and Item = '{item}'
                and Value > 0
                group by Reporter_Countries
                order by import_quantity desc;

        select Reporter_Countries, trade, import_quantity, trade / import_quantity as dep
        from exp
        left join imp
        on imp.Reporter_Countries = exp.reporting
        where dep between 0 and 1
        order by dep desc;
        '''.format(year = year, country = country, item = item)
    out = duckdb.query(query)

    return out.fetchdf()

product_leverage('India', 2019, 'Rice')

,Reporter_Countries,trade,import_quantity,dep
0,Bhutan,76.00,76.00,1.000000
1,Qatar,51.15,51.15,1.000000
2,Nepal,265475.00,265486.18,0.999958
3,Bosnia and Herzegovina,23.00,23.95,0.960334
4,Azerbaijan,3315.69,3459.85,0.958333
5,Seychelles,12.55,13.23,0.948602
6,Saudi Arabia,10483.66,11774.76,0.890350
7,Bangladesh,4430.02,5101.79,0.868327
8,Mongolia,10.00,12.49,0.800641
9,Kuwait,433.19,556.91,0.777846
10,Bahrain,107.63,143.98,0.747534
11,Oman,807.88,1102.57,0.732724
12,Fiji,39.42,58.62,0.672467
13,South Africa,1171.85,2042.96,0.573604
14,Brunei Darussalam,56.50,107.65,0.524849
15,Zambia,4.79,9.19,0.521219
16,Ethiopia,147.21,288.45,0.510348
17,Sri Lanka,0.01,0.02,0.500000
18,United Republic of Tanzania,3.93,8.01,0.490637
19,Malawi,7.59,19.01,0.399264
20,Canada,155.08,412.22,0.376207
21,United Arab Emirates,368.27,1010.61,0.364404
22,Egypt,0.16,0.53,0.301887
23,Mali,42.27,140.12,0.301670
24,Norway,8.84,29.46,0.300068
25,Philippines,7724.66,27643.60,0.279438
26,Mauritius,8.95,46.42,0.192805
27,Barbados,0.29,1.80,0.161111
28,Georgia,99.45,743.01,0.133847
29,Switzerland,6.16,49.18,0.125254
30,Iceland,4.68,42.61,0.109833
31,United States of America,18.05,177.02,0.101966
32,Indonesia,12.02,121.90,0.098605
33,Kazakhstan,57.50,721.80,0.079662
34,New Zealand,12.73,163.41,0.077902
35,Australia,12.78,166.24,0.076877
36,Viet Nam,568.52,16379.25,0.034710
37,Yemen,1846.71,65201.21,0.028323
38,Chile,0.23,10.37,0.022179
39,Armenia,6.21,350.61,0.017712
40,Sierra Leone,2.10,245.58,0.008551
41,Pakistan,88.00,10475.00,0.008401
42,Kenya,5.01,907.61,0.005520
43,Ghana,0.05,45.77,0.001092
44,Trinidad and Tobago,0.03,29.75,0.001008
45,Namibia,1.23,2388.27,0.000515
46,Germany,1.19,7017.31,0.000170
47,United Kingdom of Great Britain and Northern I...,0.99,6894.01,0.000144
48,Sweden,0.03,381.65,0.000079
49,Ireland,0.20,2858.32,0.000070
50,France,0.23,9307.62,0.000025
51,TÃ¼rkiye,1.61,101204.82,0.000016
52,Colombia,1.80,128753.16,0.000014

In [35]:
## This function finds the trade dependants by value (USD $ of a country).
## For example, using trade_dependants('United Arab Emirates', 2021)
## Finds the top 20 countries that depend on the U.A.E
## The dependency for country A on country B is quantified by taking
## The proportion of imports from country B to country A over the total
## Imports to country A:
##
## dep_ratio = (Import value from B to A) / (Total import value to country A)

def trade_leverage(country, year):

    query = '''
    drop table if exists top_imports;
    drop table if exists total_imports;

    create table top_imports as
    select Reporter_Countries,
        sum(Value) as imports
        from df
        where Year = {year}
        and Element = 'Import Value'
        and Partner_Countries = '{country}'
        group by Reporter_Countries
        having imports > 0
        order by imports desc;

    create table total_imports as
    select Reporter_Countries,
        sum(Value) as import_value
        from df
        where Year = {year}
        and Element = 'Import Value'
        group by Reporter_Countries
        having import_value > 0
        order by import_value desc;
    
        drop table if exists imps;
        drop table if exists dependants;

        create table imps as
            select * from top_imports
            left join total_imports
            on top_imports.Reporter_Countries = total_imports.Reporter_Countries
            order by import_value desc;

            select Reporter_Countries, imports,
                imports / import_value as dep_ratio
                from imps
                order by dep_ratio desc;
        '''.format(year = year, country = country)

    dependants = duckdb.sql(query).fetchdf()
    
    return dependants

trade_leverage('Russian Federation', 2018)

import plotly.express as px

dt = product_leverage('India', 2019, 'Rice').join(codes.set_index("Country or Area"), on="Reporter_Countries")


fig = px.choropleth(dt, locations="ISO-alpha3 Code",
                    color="dep", 
                    hover_name="Reporter_Countries", # column to add to hover information
                    color_continuous_scale=px.colors.sequential.Blues)

fig.update_geos(
    visible=True,
    showcountries=True,
    countrycolor="black",
    projection_type="orthographic")

fig.update_layout(height=800)

fig.show()

SyntaxError: invalid syntax (1611104217.py, line 72)