In [11]:
import pandas as pd

df = pd.read_csv("./data/Trade_DetailedTradeMatrix.csv", encoding='latin-1')

In [12]:
colnames = []
for i in df.columns:
    i = i.replace(" ", "_")
    colnames.append(i)

df.columns = colnames

This is the part where we analyze the data.

In [17]:
import duckdb

def dependency(country, year, item, threshold):
    query = '''
    select Partner_Countries,
        sum(Value) as trade_quantity,
        round(trade_quantity /
        (
            select
                sum(Value)
            from df
            where Year = {year}
            and Reporter_Countries = '{country}'
            and Item = '{item}'
            and Element = 'Import Quantity'
        ), 2) as dep_ratio
    from df
    where Year = {year}
    and Reporter_Countries = '{country}'
    and Element = 'Import Quantity'
    and Item = '{item}'
    and Value > 0
    group by Partner_Countries
    having dep_ratio >= {threshold}
    order by dep_ratio desc; 
'''.format(item = item, country = country, year = year, threshold = threshold)
    
    return duckdb.sql(query).fetchdf()

dependency('United Arab Emirates', 2021, 'Wheat', 0.05)

    Partner_Countries  trade_quantity  dep_ratio
0               India       436264.45       0.31
1  Russian Federation       288637.00       0.20
2           Australia       241280.00       0.17
3              Canada       209260.10       0.15
4             Romania       156790.00       0.11

In [33]:
exp = duckdb.query('''
select Partner_Countries,
            sum(Value) as trade
        from df
        where Year = 2019
        and Reporter_Countries = 'India'
        and Element = 'Export Quantity'
        and Item = 'Rice'
        and Value > 0
        group by Partner_Countries
        order by trade desc;
''').fetchdf()

imp = duckdb.query('''
    select Reporter_Countries,
        sum(Value) as imports
    from df
    where Year = 2019
    and Element = 'Import Quantity'
    and Item = 'Rice'
    and Value > 0
    group by Reporter_Countries
    order by imports desc;
''').fetchdf()

joined = duckdb.query('''
    select * from exp
    left join imp
    on exp.Partner_Countries = imp.Reporter_Countries
    order by trade desc;
''').fetchdf()

joined

,Partner_Countries,trade,Reporter_Countries,imports
0,Nepal,234406.94,Nepal,265486.18
1,Philippines,7201.54,Philippines,27643.60
2,Bangladesh,4430.02,Bangladesh,5101.79
3,Viet Nam,395.31,Viet Nam,16379.25
4,United Arab Emirates,184.54,United Arab Emirates,1010.61
5,Bahrain,110.07,Bahrain,143.98
6,Australia,96.32,Australia,166.24
7,Pakistan,87.73,Pakistan,10475.00
8,Bhutan,76.00,Bhutan,76.00
9,United States of America,54.46,United States of America,177.02
10,Malaysia,50.20,Malaysia,0.02
11,United Kingdom of Great Britain and Northern I...,44.01,United Kingdom of Great Britain and Northern I...,6894.01
12,Kenya,43.01,Kenya,907.61
13,Qatar,41.50,Qatar,51.15
14,Saudi Arabia,26.00,Saudi Arabia,11774.76
15,Oman,23.98,Oman,1102.57
16,Canada,19.23,Canada,412.22
17,Malawi,19.20,Malawi,19.01
18,Singapore,18.62,NaN,NaN
19,Mali,17.00,Mali,140.12
20,Kuwait,6.35,Kuwait,556.91
21,Indonesia,5.07,Indonesia,121.90
22,Mauritius,4.30,Mauritius,46.42
23,Brazil,4.00,Brazil,91431.46
24,Senegal,4.00,Senegal,1037.24
25,Nigeria,3.00,NaN,NaN
26,Ghana,2.88,Ghana,45.77
27,Togo,2.50,NaN,NaN
28,Sierra Leone,2.10,Sierra Leone,245.58
29,Colombia,1.80,Colombia,128753.16
30,Seychelles,1.71,Seychelles,13.23
31,Netherlands,1.43,Netherlands,4638.55
32,Germany,1.01,Germany,7017.31
33,Grenada,1.00,Grenada,0.01
34,Maldives,1.00,NaN,NaN
35,Italy,0.52,Italy,49476.47
36,Gambia,0.50,Gambia,5.34
37,New Zealand,0.30,New Zealand,163.41
38,Sri Lanka,0.30,Sri Lanka,0.02
39,Egypt,0.28,Egypt,0.53
40,United Republic of Tanzania,0.18,United Republic of Tanzania,8.01
41,Türkiye,0.10,Türkiye,101204.82
42,Trinidad and Tobago,0.08,Trinidad and Tobago,29.75
43,France,0.06,France,9307.62
44,Ethiopia,0.05,Ethiopia,288.45
45,Myanmar,0.05,NaN,NaN
46,Brunei Darussalam,0.03,Brunei Darussalam,107.65
47,Ireland,0.01,Ireland,2858.32

In [22]:
# def leverage():
#     query = '''
#         select Partner_Countries,
#             sum(Value) as trade
#         from df
#         where Year = 2019
#         and Reporter_Countries = 'India'
#         and Element = 'Export Quantity'
#         and Item = 'Rice'
#         and Value > 0
#         group by Partner_Countries
#         order by trade desc;
#     '''
#     return duckdb.sql(query)

# leverage()

                                    Partner_Countries      trade
0                                               Nepal  234406.94
1                                         Philippines    7201.54
2                                          Bangladesh    4430.02
3                                            Viet Nam     395.31
4                                United Arab Emirates     184.54
5                                             Bahrain     110.07
6                                           Australia      96.32
7                                            Pakistan      87.73
8                                              Bhutan      76.00
9                            United States of America      54.46
10                                           Malaysia      50.20
11  United Kingdom of Great Britain and Northern I...      44.01
12                                              Kenya      43.01
13                                              Qatar      41.50
14                                       Saudi Arabia      26.00
15                                               Oman      23.98
16                                             Canada      19.23
17                                             Malawi      19.20
18                                          Singapore      18.62
19                                               Mali      17.00
20                                             Kuwait       6.35
21                                          Indonesia       5.07
22                                          Mauritius       4.30
23                                             Brazil       4.00
24                                            Senegal       4.00
25                                            Nigeria       3.00
26                                              Ghana       2.88
27                                               Togo       2.50
28                                       Sierra Leone       2.10
29                                           Colombia       1.80
30                                         Seychelles       1.71
31                                        Netherlands       1.43
32                                            Germany       1.01
33                                            Grenada       1.00
34                                           Maldives       1.00
35                                              Italy       0.52
36                                             Gambia       0.50
37                                        New Zealand       0.30
38                                          Sri Lanka       0.30
39                                              Egypt       0.28
40                        United Republic of Tanzania       0.18
41                                            Türkiye       0.10
42                                Trinidad and Tobago       0.08
43                                             France       0.06
44                                           Ethiopia       0.05
45                                            Myanmar       0.05
46                                  Brunei Darussalam       0.03
47                                            Ireland       0.01